@use url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto&display=swap');

$myheader:'Poppins';
$myfont: 'Roboto';



nav {
    ul {
        display: flex;
    }
}

h2 {
    font-family: $myheader;
}

p, body {
    font-family: $myfont;
}